In [2]:
import numpy as np
import pandas as pd
import math
from scipy import stats
import xlsxwriter

In [3]:
import os

In [4]:
path = "D:/softwares/vscode files/stocks/"
for file in os.listdir(path):
    if 'Quote-Equity-' and '-EQ-01-02-2022-to-01-02-2023' in file:
        filee = file.replace('Quote-Equity-','')
        filee = filee.replace('-EQ-01-02-2022-to-01-02-2023','')
        
        old_name = os.path.join(path,file)
        new_name = os.path.join(path,filee)
        os.rename(old_name,new_name)

In [5]:
my_columns = ['Name', 'Price', 'One year price return', 'Number of shares to buy']
final_dataframe = pd.DataFrame(columns = my_columns)
final_dataframe

Empty DataFrame
Columns: [Name, Price, One year price return, Number of shares to buy]
Index: []

In [6]:
name=[]
path = "D:/softwares/vscode files/stocks/"
for file in os.listdir(path):
    name.append(file[:-4])
Name=pd.Series(name)
print(Name)

0       ADANIENT
1     ADANIPORTS
2     APOLLOHOSP
3     ASIANPAINT
4       AXISBANK
5     BAJAJ-AUTO
6     BAJAJFINSV
7     BAJFINANCE
8     BHARTIARTL
9           BPCL
10     BRITANNIA
11         CIPLA
12     COALINDIA
13      DIVISLAB
14       DRREDDY
15     EICHERMOT
16        GRASIM
17       HCLTECH
18          HDFC
19      HDFCBANK
20      HDFCLIFE
21    HEROMOTOCO
22      HINDALCO
23    HINDUNILVR
24     ICICIBANK
25    INDUSINDBK
26          INFY
27           ITC
28      JSWSTEEL
29     KOTAKBANK
30            LT
31           M&M
32        MARUTI
33     NESTLEIND
34          NTPC
35          ONGC
36     POWERGRID
37      RELIANCE
38       SBILIFE
39          SBIN
40     SUNPHARMA
41    TATACONSUM
42    TATAMOTORS
43     TATASTEEL
44           TCS
45         TECHM
46         TITAN
47    ULTRACEMCO
48           UPL
49         WIPRO
dtype: object

In [7]:
a=[]
path = "D:/softwares/vscode files/stocks/"
for file_name in os.listdir(path):
   df = pd.read_csv(f'D:/softwares/vscode files/stocks/{file_name}',index_col='Date ',parse_dates=True)
   x=df.loc["2023-02-01",'ltp ']
   if (type(x)) == str:
      if ',' in x:
         x=x.replace(',','')
         x=float(x)
      else:
         x=float(x)
   else:
         x=float(x)
   y=df.loc['2022-02-01','ltp ']
   if (type(y)) == str:
      if ',' in y:
         y=y.replace(',','')
         y=float(y)
      else:
         y=float(y)
   else:
         y=float(y)
   ireturn = ((x-y)/y)*100
   a.append(ireturn)
price_return=pd.Series(a)

In [8]:
type(price_return)

pandas.core.series.Series

In [9]:
price=[2068.65,704.35,4460.00,2874.00,858.3,3757.35,1386.90,6146.80,773.55,325.25,4293.55,881.8,225.15,2868.20,4447.30,3160.30,1605.70,1127.40,2682.55,
       1629.70,494.05,2484.20,418.25,2487.95,867.55,1127.20,1515.50,389.75,680,1748.65,2155.95,1282.65,8632.40,18500.00,177.2,158,228.25,2415.55,
       1137.35,562.95,976.95,718.05,437.3,107.15,3389.35,1088.55,2407.05,7207.90,715.55,396.05]

In [21]:
len(price)
price=pd.Series(price)

In [11]:
f_dataframe = pd.DataFrame(columns=['Stock_name','LTP','Return After One Year'])

In [12]:
f_dataframe['Stock_name']=Name
f_dataframe['Return After One Year']=price_return
f_dataframe['LTP']=price
f_dataframe

    Stock_name       LTP  Return After One Year
0     ADANIENT   2068.65              24.842497
1   ADANIPORTS    704.35             -31.808957
2   APOLLOHOSP   4460.00              -5.332003
3   ASIANPAINT   2874.00             -14.327613
4     AXISBANK    858.30               9.489144
5   BAJAJ-AUTO   3757.35               7.479573
6   BAJAJFINSV   1386.90             -92.028774
7   BAJFINANCE   6146.80             -17.549809
8   BHARTIARTL    773.55               5.944418
9         BPCL    325.25             -11.572427
10   BRITANNIA   4293.55              19.943989
11       CIPLA    881.80               9.544008
12   COALINDIA    225.15              35.582822
13    DIVISLAB   2868.20             -18.482339
14     DRREDDY   4447.30               0.878922
15   EICHERMOT   3160.30              26.408168
16      GRASIM   1605.70             -10.917043
17     HCLTECH   1127.40              -0.652097
18        HDFC   2682.55               3.311413
19    HDFCBANK   1629.70               8.366667
20    HDFCLIFE    494.05             -17.475030
21  HEROMOTOCO   2484.20               0.220183
22    HINDALCO    418.25              -8.457322
23  HINDUNILVR   2487.95              11.523624
24   ICICIBANK    867.55               4.776285
25  INDUSINDBK   1127.20              12.475676
26        INFY   1515.50             -12.851100
27         ITC    389.75              57.788504
28    JSWSTEEL    680.00              11.757066
29   KOTAKBANK   1748.65              -7.685381
30          LT   2155.95               7.769424
31         M&M   1282.65              54.509041
32      MARUTI   8632.40               2.299266
33   NESTLEIND  18500.00               2.044166
34        NTPC    177.20              20.290368
35        ONGC    158.00             -15.149736
36   POWERGRID    228.25               1.408451
37    RELIANCE   2415.55              -1.796206
38     SBILIFE   1137.35              -8.422350
39        SBIN    562.95              -1.051446
40   SUNPHARMA    976.95              13.801996
41  TATACONSUM    718.05               0.162624
42  TATAMOTORS    437.30             -11.526264
43   TATASTEEL    107.15             -89.537525
44         TCS   3389.35             -10.696452
45       TECHM   1088.55             -32.298547
46       TITAN   2407.05              -3.737608
47  ULTRACEMCO   7207.90              -5.520902
48         UPL    715.55              -5.852417
49       WIPRO    396.05             -30.389610

In [13]:
momentum_df =f_dataframe.sort_values('Return After One Year',ascending=False)

In [14]:
momentum_df

    Stock_name       LTP  Return After One Year
27         ITC    389.75              57.788504
31         M&M   1282.65              54.509041
12   COALINDIA    225.15              35.582822
15   EICHERMOT   3160.30              26.408168
0     ADANIENT   2068.65              24.842497
34        NTPC    177.20              20.290368
10   BRITANNIA   4293.55              19.943989
40   SUNPHARMA    976.95              13.801996
25  INDUSINDBK   1127.20              12.475676
28    JSWSTEEL    680.00              11.757066
23  HINDUNILVR   2487.95              11.523624
11       CIPLA    881.80               9.544008
4     AXISBANK    858.30               9.489144
19    HDFCBANK   1629.70               8.366667
30          LT   2155.95               7.769424
5   BAJAJ-AUTO   3757.35               7.479573
8   BHARTIARTL    773.55               5.944418
24   ICICIBANK    867.55               4.776285
18        HDFC   2682.55               3.311413
32      MARUTI   8632.40               2.299266
33   NESTLEIND  18500.00               2.044166
36   POWERGRID    228.25               1.408451
14     DRREDDY   4447.30               0.878922
21  HEROMOTOCO   2484.20               0.220183
41  TATACONSUM    718.05               0.162624
17     HCLTECH   1127.40              -0.652097
39        SBIN    562.95              -1.051446
37    RELIANCE   2415.55              -1.796206
46       TITAN   2407.05              -3.737608
2   APOLLOHOSP   4460.00              -5.332003
47  ULTRACEMCO   7207.90              -5.520902
48         UPL    715.55              -5.852417
29   KOTAKBANK   1748.65              -7.685381
38     SBILIFE   1137.35              -8.422350
22    HINDALCO    418.25              -8.457322
44         TCS   3389.35             -10.696452
16      GRASIM   1605.70             -10.917043
42  TATAMOTORS    437.30             -11.526264
9         BPCL    325.25             -11.572427
26        INFY   1515.50             -12.851100
3   ASIANPAINT   2874.00             -14.327613
35        ONGC    158.00             -15.149736
20    HDFCLIFE    494.05             -17.475030
7   BAJFINANCE   6146.80             -17.549809
13    DIVISLAB   2868.20             -18.482339
49       WIPRO    396.05             -30.389610
1   ADANIPORTS    704.35             -31.808957
45       TECHM   1088.55             -32.298547
43   TATASTEEL    107.15             -89.537525
6   BAJAJFINSV   1386.90             -92.028774

In [15]:
high_momentum = pd.DataFrame(momentum_df[:10])
high_momentum.reset_index(drop=True,inplace=True)
high_momentum

   Stock_name      LTP  Return After One Year
0         ITC   389.75              57.788504
1         M&M  1282.65              54.509041
2   COALINDIA   225.15              35.582822
3   EICHERMOT  3160.30              26.408168
4    ADANIENT  2068.65              24.842497
5        NTPC   177.20              20.290368
6   BRITANNIA  4293.55              19.943989
7   SUNPHARMA   976.95              13.801996
8  INDUSINDBK  1127.20              12.475676
9    JSWSTEEL   680.00              11.757066

In [16]:
def portfolio_input():
    global portfolio_size
    portfolio_size=input('Enter the size of the portfolio: ')

    try:
        float(portfolio_size)
    except ValueError:
        print('That is not a number! \nplease try again:')
        portfolio_size=input('Enter the size of your portfolio:')

In [17]:
portfolio_input()
print(portfolio_size)

1000000

In [18]:
position_size=float(portfolio_size)/len(high_momentum.index)
print(position_size)

100000.0

In [19]:
high_momentum['Number of shares to buy']=np.nan

In [20]:
for i in range(0,len(high_momentum)):
    high_momentum.loc[i,'Number of shares to buy']=math.floor(position_size/float(high_momentum.loc[i,'LTP']))
high_momentum

   Stock_name      LTP  Return After One Year  Number of shares to buy
0         ITC   389.75              57.788504                    256.0
1         M&M  1282.65              54.509041                     77.0
2   COALINDIA   225.15              35.582822                    444.0
3   EICHERMOT  3160.30              26.408168                     31.0
4    ADANIENT  2068.65              24.842497                     48.0
5        NTPC   177.20              20.290368                    564.0
6   BRITANNIA  4293.55              19.943989                     23.0
7   SUNPHARMA   976.95              13.801996                    102.0
8  INDUSINDBK  1127.20              12.475676                     88.0
9    JSWSTEEL   680.00              11.757066                    147.0

"CALCULATING 6 MONTH RETURN"

In [25]:
colls=['Stock Name','Stock Price','Feb-July Return','Aug-Feb Return','Average']
six_month_return = pd.DataFrame(columns=colls)

In [27]:
colls=['Stock Name','Stock Price','Feb-July Return','Aug-Jan Return','Average']
six_month_return = pd.DataFrame(columns=colls)
path = "D:/softwares/vscode files/stocks/"
for (file_name,n,p) in zip(os.listdir(path),Name,price):
   df = pd.read_csv(f'D:/softwares/vscode files/stocks/{file_name}',index_col='Date ',parse_dates=True)
   x=df.loc["2023-02-01",'ltp ']
   if (type(x)) == str:
      if ',' in x:
         x=x.replace(',','')
         x=float(x)
      else:
         x=float(x)
   else:
         x=float(x)
   y=df.loc["2022-08-01",'ltp ']
   if (type(y)) == str:
      if ',' in y:
         y=y.replace(',','')
         y=float(y)
      else:
         y=float(y)
   else:
         y=float(y)
   z=df.loc['2022-02-01','ltp ']
   if (type(z)) == str:
      if ',' in z:
         z=z.replace(',','')
         z=float(z)
      else:
         z=float(z)
   else:
         z=float(z)
   yzreturn = ((y-z)/z)*100
   xyreturn = ((x-y)/y)*100
   avg = (yzreturn+xyreturn)/2
   six_month_return=six_month_return.append(
       pd.Series(
       [
       n,
       p,
       yzreturn,
       xyreturn,
       avg
       ],
       index=colls),
       ignore_index=True
   )
six_month_return

C:\Users\mahen\AppData\Local\Temp\ipykernel_13052\2447647212.py:36: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  six_month_return=six_month_return.append(
C:\Users\mahen\AppData\Local\Temp\ipykernel_13052\2447647212.py:36: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  six_month_return=six_month_return.append(
C:\Users\mahen\AppData\Local\Temp\ipykernel_13052\2447647212.py:36: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  six_month_return=six_month_return.append(
C:\Users\mahen\AppData\Local\Temp\ipykernel_13052\2447647212.py:36: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  six_month_return=six_month_return.append(
C:\Users\mahen\AppData\Local\Temp\ipykernel_13052\2447647212.py:36: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  six_month_return=six_month_return.append(
C:\Users\mahen\AppData\Local\Temp\ipykernel_13052\2447647212.py:36: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  six_month_return=six_month_return.append(
C:\Users\mahen\AppData\Local\Temp\ipykernel_13052\2447647212.py:36: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  six_month_return=six_month_return.append(
C:\Users\mahen\AppData\Local\Temp\ipykernel_13052\2447647212.py:36: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  six_month_return=six_month_return.append(
C:\Users\mahen\AppData\Local\Temp\ipykernel_13052\2447647212.py:36: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  six_month_return=six_month_return.append(
C:\Users\mahen\AppData\Local\Temp\ipykernel_13052\2447647212.py:36: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  six_month_return=six_month_return.append(
C:\Users\mahen\AppData\Local\Temp\ipykernel_13052\2447647212.py:36: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  six_month_return=six_month_return.append(
C:\Users\mahen\AppData\Local\Temp\ipykernel_13052\2447647212.py:36: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  six_month_return=six_month_return.append(
C:\Users\mahen\AppData\Local\Temp\ipykernel_13052\2447647212.py:36: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  six_month_return=six_month_return.append(
C:\Users\mahen\AppData\Local\Temp\ipykernel_13052\2447647212.py:36: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  six_month_return=six_month_return.append(
C:\Users\mahen\AppData\Local\Temp\ipykernel_13052\2447647212.py:36: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  six_month_return=six_month_return.append(
C:\Users\mahen\AppData\Local\Temp\ipykernel_13052\2447647212.py:36: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  six_month_return=six_month_return.append(
C:\Users\mahen\AppData\Local\Temp\ipykernel_13052\2447647212.py:36: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  six_month_return=six_month_return.append(
C:\Users\mahen\AppData\Local\Temp\ipykernel_13052\2447647212.py:36: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  six_month_return=six_month_return.append(
C:\Users\mahen\AppData\Local\Temp\ipykernel_13052\2447647212.py:36: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  six_month_return=six_month_return.append(
C:\Users\mahen\AppData\Local\Temp\ipykernel_13052\2447647212.py:36: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  six_month_return=six_month_return.append(
C:\Users\mahen\AppData\Local\Temp\ipykernel_13052\2447647212.py:36: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  six_month_return=six_month_return.append(
C:\Users\mahen\AppData\Local\Temp\ipykernel_13052\2447647212.py:36: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  six_month_return=six_month_return.append(
C:\Users\mahen\AppData\Local\Temp\ipykernel_13052\2447647212.py:36: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  six_month_return=six_month_return.append(
C:\Users\mahen\AppData\Local\Temp\ipykernel_13052\2447647212.py:36: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  six_month_return=six_month_return.append(
C:\Users\mahen\AppData\Local\Temp\ipykernel_13052\2447647212.py:36: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  six_month_return=six_month_return.append(
C:\Users\mahen\AppData\Local\Temp\ipykernel_13052\2447647212.py:36: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  six_month_return=six_month_return.append(
C:\Users\mahen\AppData\Local\Temp\ipykernel_13052\2447647212.py:36: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  six_month_return=six_month_return.append(
C:\Users\mahen\AppData\Local\Temp\ipykernel_13052\2447647212.py:36: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  six_month_return=six_month_return.append(
C:\Users\mahen\AppData\Local\Temp\ipykernel_13052\2447647212.py:36: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  six_month_return=six_month_return.append(
C:\Users\mahen\AppData\Local\Temp\ipykernel_13052\2447647212.py:36: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  six_month_return=six_month_return.append(
C:\Users\mahen\AppData\Local\Temp\ipykernel_13052\2447647212.py:36: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  six_month_return=six_month_return.append(
C:\Users\mahen\AppData\Local\Temp\ipykernel_13052\2447647212.py:36: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  six_month_return=six_month_return.append(
C:\Users\mahen\AppData\Local\Temp\ipykernel_13052\2447647212.py:36: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  six_month_return=six_month_return.append(
C:\Users\mahen\AppData\Local\Temp\ipykernel_13052\2447647212.py:36: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  six_month_return=six_month_return.append(
C:\Users\mahen\AppData\Local\Temp\ipykernel_13052\2447647212.py:36: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  six_month_return=six_month_return.append(
C:\Users\mahen\AppData\Local\Temp\ipykernel_13052\2447647212.py:36: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  six_month_return=six_month_return.append(
C:\Users\mahen\AppData\Local\Temp\ipykernel_13052\2447647212.py:36: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  six_month_return=six_month_return.append(
C:\Users\mahen\AppData\Local\Temp\ipykernel_13052\2447647212.py:36: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  six_month_return=six_month_return.append(
C:\Users\mahen\AppData\Local\Temp\ipykernel_13052\2447647212.py:36: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  six_month_return=six_month_return.append(
C:\Users\mahen\AppData\Local\Temp\ipykernel_13052\2447647212.py:36: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  six_month_return=six_month_return.append(
C:\Users\mahen\AppData\Local\Temp\ipykernel_13052\2447647212.py:36: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  six_month_return=six_month_return.append(
C:\Users\mahen\AppData\Local\Temp\ipykernel_13052\2447647212.py:36: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  six_month_return=six_month_return.append(
C:\Users\mahen\AppData\Local\Temp\ipykernel_13052\2447647212.py:36: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  six_month_return=six_month_return.append(
C:\Users\mahen\AppData\Local\Temp\ipykernel_13052\2447647212.py:36: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  six_month_return=six_month_return.append(
C:\Users\mahen\AppData\Local\Temp\ipykernel_13052\2447647212.py:36: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  six_month_return=six_month_return.append(
C:\Users\mahen\AppData\Local\Temp\ipykernel_13052\2447647212.py:36: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  six_month_return=six_month_return.append(
C:\Users\mahen\AppData\Local\Temp\ipykernel_13052\2447647212.py:36: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  six_month_return=six_month_return.append(
C:\Users\mahen\AppData\Local\Temp\ipykernel_13052\2447647212.py:36: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  six_month_return=six_month_return.append(
C:\Users\mahen\AppData\Local\Temp\ipykernel_13052\2447647212.py:36: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  six_month_return=six_month_return.append(
C:\Users\mahen\AppData\Local\Temp\ipykernel_13052\2447647212.py:36: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  six_month_return=six_month_return.append(

    Stock Name  Stock Price  Feb-July Return  Aug-Jan Return    Average
0     ADANIENT      2068.65        52.061856      -17.900188  17.080834
1   ADANIPORTS       704.35         8.375051      -37.078652 -14.351800
2   APOLLOHOSP      4460.00        -4.932934       -0.419776  -2.676355
3   ASIANPAINT      2874.00         3.744150      -17.419549  -6.837700
4     AXISBANK       858.30        -6.717752       17.374042   5.328145
5   BAJAJ-AUTO      3757.35        12.721789       -4.650578   4.035605
6   BAJAJFINSV      1386.90        -5.418500      -91.572109 -48.495304
7   BAJFINANCE      6146.80         2.477038      -19.542766  -8.532864
8   BHARTIARTL       773.55        -3.868699       10.208034   3.169668
9         BPCL       325.25       -11.796494        0.254035  -5.771230
10   BRITANNIA      4293.55         5.491803       13.699819   9.595811
11       CIPLA       881.80         6.574761        2.786070   4.680416
12   COALINDIA       225.15        30.245399        4.097975  17.171687
13    DIVISLAB      2868.20        -7.503045      -11.869897  -9.686471
14     DRREDDY      4447.30        -4.660142        5.809810   0.574834
15   EICHERMOT      3160.30        17.930481        7.188716  12.559598
16      GRASIM      1605.70       -11.478555        0.634324  -5.422116
17     HCLTECH      1127.40       -16.051287       18.343568   1.146141
18        HDFC      2682.55        -7.389393       11.554622   2.082615
19    HDFCBANK      1629.70        -3.806667       12.655070   4.424201
20    HDFCLIFE       494.05       -12.904515       -5.247706  -9.076111
21  HEROMOTOCO      2484.20         4.146789       -3.770261   0.188264
22    HINDALCO       418.25       -17.090838       10.413223  -3.338807
23  HINDUNILVR      2487.95        12.570438       -0.929919   5.820259
24   ICICIBANK       867.55         1.620855        3.105100   2.362978
25  INDUSINDBK      1127.20        12.324324        0.134745   6.229535
26        INFY      1515.50       -12.492950       -0.409281  -6.451116
27         ITC       389.75        35.059237       16.829110  25.944173
28    JSWSTEEL       680.00        -2.192513       14.262282   6.034884
29   KOTAKBANK      1748.65        -1.851165       -5.944254  -3.897710
30          LT      2155.95        -9.122807       18.587976   4.732584
31         M&M      1282.65        41.279469        9.364115  25.321792
32      MARUTI      8632.40         4.981355       -2.554824   1.213266
33   NESTLEIND     18500.00         2.986188       -0.914707   1.035740
34        NTPC       177.20        11.189802        8.184713   9.687258
35        ONGC       158.00       -18.849090        4.558611  -7.145240
36   POWERGRID       228.25         2.957746       -1.504788   0.726479
37    RELIANCE      2415.55         7.814336       -8.913974  -0.549819
38     SBILIFE      1137.35         7.559573      -14.858671  -3.649549
39        SBIN       562.95         0.140819       -1.190588  -0.524885
40   SUNPHARMA       976.95         2.730127       10.777626   6.753876
41  TATACONSUM       718.05         9.994579       -8.938582   0.527999
42  TATAMOTORS       437.30        -4.846383       -7.020102  -5.933242
43   TATASTEEL       107.15       -90.720501       12.748268 -38.986116
44         TCS      3389.35       -13.307490        3.011838  -5.147826
45       TECHM      1088.55       -30.581242       -2.473834 -16.527538
46       TITAN      2407.05        -2.481476       -1.288096  -1.884786
47  ULTRACEMCO      7207.90       -11.665561        6.956130  -2.354715
48         UPL       715.55        -3.307888       -2.631579  -2.969733
49       WIPRO       396.05       -25.454545       -6.620209 -16.037377

In [28]:
collls=['Stock Name','Stock Price','Feb-April Return','May-July Return','Aug-Oct Return','Nov-Jan Return','Average']
three_month_return = pd.DataFrame(columns=collls)
path = "D:/softwares/vscode files/stocks/"
for (file_name,n,p) in zip(os.listdir(path),Name,price):
   df = pd.read_csv(f'D:/softwares/vscode files/stocks/{file_name}',index_col='Date ',parse_dates=True)
   x=df.loc["2022-08-01",'ltp ']
   if (type(x)) == str:
      if ',' in x:
         x=x.replace(',','')
         x=float(x)
      else:
         x=float(x)
   else:
         x=float(x)
   y=df.loc["2022-11-01",'ltp ']
   if (type(y)) == str:
      if ',' in y:
         y=y.replace(',','')
         y=float(y)
      else:
         y=float(y)
   else:
         y=float(y)
   z=df.loc['2023-02-01','ltp ']
   if (type(z)) == str:
      if ',' in z:
         z=z.replace(',','')
         z=float(z)
      else:
         z=float(z)
   else:
         z=float(z)
   w=df.loc['2022-05-02','ltp ']
   if (type(w)) == str:
      if ',' in w:
         w=w.replace(',','')
         w=float(w)
      else:
         w=float(w)
   else:
         w=float(w)
   v=df.loc['2022-02-01','ltp ']
   if (type(v)) == str:
      if ',' in v:
         v=v.replace(',','')
         v=float(v)
      else:
         v=float(v)
   else:
         v=float(v)
   wvreturn = ((w-v)/v)*100
   xwreturn = ((x-w)/w)*100
   xyreturn = ((y-x)/x)*100
   yzreturn = ((z-y)/y)*100
   avg = (wvreturn+xwreturn+xyreturn+yzreturn)/4
   three_month_return=three_month_return.append(
       pd.Series(
       [
       n,
       p,
       wvreturn,
       xwreturn,
       xyreturn,
       yzreturn,
       avg
       ],
       index=collls),
       ignore_index=True
   )
three_month_return

C:\Users\mahen\AppData\Local\Temp\ipykernel_13052\3199252163.py:56: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  three_month_return=three_month_return.append(
C:\Users\mahen\AppData\Local\Temp\ipykernel_13052\3199252163.py:56: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  three_month_return=three_month_return.append(
C:\Users\mahen\AppData\Local\Temp\ipykernel_13052\3199252163.py:56: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  three_month_return=three_month_return.append(
C:\Users\mahen\AppData\Local\Temp\ipykernel_13052\3199252163.py:56: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  three_month_return=three_month_return.append(
C:\Users\mahen\AppData\Local\Temp\ipykernel_13052\3199252163.py:56: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  three_month_return=three_month_return.append(
C:\Users\mahen\AppData\Local\Temp\ipykernel_13052\3199252163.py:56: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  three_month_return=three_month_return.append(
C:\Users\mahen\AppData\Local\Temp\ipykernel_13052\3199252163.py:56: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  three_month_return=three_month_return.append(
C:\Users\mahen\AppData\Local\Temp\ipykernel_13052\3199252163.py:56: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  three_month_return=three_month_return.append(
C:\Users\mahen\AppData\Local\Temp\ipykernel_13052\3199252163.py:56: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  three_month_return=three_month_return.append(
C:\Users\mahen\AppData\Local\Temp\ipykernel_13052\3199252163.py:56: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  three_month_return=three_month_return.append(
C:\Users\mahen\AppData\Local\Temp\ipykernel_13052\3199252163.py:56: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  three_month_return=three_month_return.append(
C:\Users\mahen\AppData\Local\Temp\ipykernel_13052\3199252163.py:56: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  three_month_return=three_month_return.append(
C:\Users\mahen\AppData\Local\Temp\ipykernel_13052\3199252163.py:56: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  three_month_return=three_month_return.append(
C:\Users\mahen\AppData\Local\Temp\ipykernel_13052\3199252163.py:56: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  three_month_return=three_month_return.append(
C:\Users\mahen\AppData\Local\Temp\ipykernel_13052\3199252163.py:56: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  three_month_return=three_month_return.append(
C:\Users\mahen\AppData\Local\Temp\ipykernel_13052\3199252163.py:56: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  three_month_return=three_month_return.append(
C:\Users\mahen\AppData\Local\Temp\ipykernel_13052\3199252163.py:56: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  three_month_return=three_month_return.append(
C:\Users\mahen\AppData\Local\Temp\ipykernel_13052\3199252163.py:56: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  three_month_return=three_month_return.append(
C:\Users\mahen\AppData\Local\Temp\ipykernel_13052\3199252163.py:56: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  three_month_return=three_month_return.append(
C:\Users\mahen\AppData\Local\Temp\ipykernel_13052\3199252163.py:56: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  three_month_return=three_month_return.append(
C:\Users\mahen\AppData\Local\Temp\ipykernel_13052\3199252163.py:56: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  three_month_return=three_month_return.append(
C:\Users\mahen\AppData\Local\Temp\ipykernel_13052\3199252163.py:56: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  three_month_return=three_month_return.append(
C:\Users\mahen\AppData\Local\Temp\ipykernel_13052\3199252163.py:56: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  three_month_return=three_month_return.append(
C:\Users\mahen\AppData\Local\Temp\ipykernel_13052\3199252163.py:56: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  three_month_return=three_month_return.append(
C:\Users\mahen\AppData\Local\Temp\ipykernel_13052\3199252163.py:56: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  three_month_return=three_month_return.append(
C:\Users\mahen\AppData\Local\Temp\ipykernel_13052\3199252163.py:56: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  three_month_return=three_month_return.append(
C:\Users\mahen\AppData\Local\Temp\ipykernel_13052\3199252163.py:56: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  three_month_return=three_month_return.append(
C:\Users\mahen\AppData\Local\Temp\ipykernel_13052\3199252163.py:56: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  three_month_return=three_month_return.append(
C:\Users\mahen\AppData\Local\Temp\ipykernel_13052\3199252163.py:56: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  three_month_return=three_month_return.append(
C:\Users\mahen\AppData\Local\Temp\ipykernel_13052\3199252163.py:56: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  three_month_return=three_month_return.append(
C:\Users\mahen\AppData\Local\Temp\ipykernel_13052\3199252163.py:56: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  three_month_return=three_month_return.append(
C:\Users\mahen\AppData\Local\Temp\ipykernel_13052\3199252163.py:56: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  three_month_return=three_month_return.append(
C:\Users\mahen\AppData\Local\Temp\ipykernel_13052\3199252163.py:56: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  three_month_return=three_month_return.append(
C:\Users\mahen\AppData\Local\Temp\ipykernel_13052\3199252163.py:56: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  three_month_return=three_month_return.append(
C:\Users\mahen\AppData\Local\Temp\ipykernel_13052\3199252163.py:56: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  three_month_return=three_month_return.append(
C:\Users\mahen\AppData\Local\Temp\ipykernel_13052\3199252163.py:56: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  three_month_return=three_month_return.append(
C:\Users\mahen\AppData\Local\Temp\ipykernel_13052\3199252163.py:56: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  three_month_return=three_month_return.append(
C:\Users\mahen\AppData\Local\Temp\ipykernel_13052\3199252163.py:56: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  three_month_return=three_month_return.append(
C:\Users\mahen\AppData\Local\Temp\ipykernel_13052\3199252163.py:56: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  three_month_return=three_month_return.append(
C:\Users\mahen\AppData\Local\Temp\ipykernel_13052\3199252163.py:56: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  three_month_return=three_month_return.append(
C:\Users\mahen\AppData\Local\Temp\ipykernel_13052\3199252163.py:56: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  three_month_return=three_month_return.append(
C:\Users\mahen\AppData\Local\Temp\ipykernel_13052\3199252163.py:56: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  three_month_return=three_month_return.append(
C:\Users\mahen\AppData\Local\Temp\ipykernel_13052\3199252163.py:56: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  three_month_return=three_month_return.append(
C:\Users\mahen\AppData\Local\Temp\ipykernel_13052\3199252163.py:56: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  three_month_return=three_month_return.append(
C:\Users\mahen\AppData\Local\Temp\ipykernel_13052\3199252163.py:56: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  three_month_return=three_month_return.append(
C:\Users\mahen\AppData\Local\Temp\ipykernel_13052\3199252163.py:56: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  three_month_return=three_month_return.append(
C:\Users\mahen\AppData\Local\Temp\ipykernel_13052\3199252163.py:56: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  three_month_return=three_month_return.append(
C:\Users\mahen\AppData\Local\Temp\ipykernel_13052\3199252163.py:56: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  three_month_return=three_month_return.append(
C:\Users\mahen\AppData\Local\Temp\ipykernel_13052\3199252163.py:56: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  three_month_return=three_month_return.append(
C:\Users\mahen\AppData\Local\Temp\ipykernel_13052\3199252163.py:56: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  three_month_return=three_month_return.append(

,Stock Name,Stock Price,Feb-April Return,May-July Return,Aug-Oct Return,Nov-Jan Return,Average
0,ADANIENT,2068.65,33.774341,13.670420,34.832392,-39.109727,10.791857
1,ADANIPORTS,704.35,15.951833,-6.534422,4.981273,-40.064217,-6.416383
2,APOLLOHOSP,4460.00,-4.600377,-0.348594,5.013993,-5.174328,-1.277327
3,ASIANPAINT,2874.00,-0.160686,3.911121,-5.082707,-12.997465,-3.582434
4,AXISBANK,858.30,-7.017880,0.322780,19.318182,-1.629375,2.748427
5,BAJAJ-AUTO,3757.35,2.578626,9.888183,-6.134191,1.580567,1.978297
6,BAJAJFINSV,1386.90,-6.298609,0.939271,-88.653702,-25.721224,-29.933566
7,BAJFINANCE,6146.80,-6.471669,9.567911,-0.652207,-19.014573,-4.142635
8,BHARTIARTL,773.55,2.220537,-5.956959,19.849354,-8.044532,2.017100
9,BPCL,325.25,-3.084223,-8.989528,-8.995816,10.164204,-2.726341
10,BRITANNIA,4293.55,-10.766393,18.219814,-1.787102,15.768724,5.358760
11,CIPLA,881.80,3.891835,2.582423,16.716418,-11.935209,2.813867
12,COALINDIA,225.15,15.092025,13.166311,15.638248,-9.979633,8.479238
13,DIVISLAB,2868.20,9.744214,-15.715871,0.845404,-12.608707,-4.433740
14,DRREDDY,4447.30,-4.362144,-0.311591,10.427739,-4.181856,0.393037
15,EICHERMOT,3160.30,-2.871783,21.417323,23.086900,-12.916228,7.179053
16,GRASIM,1605.70,-5.149549,-6.672616,12.517532,-10.561206,-2.466460
17,HCLTECH,1127.40,-5.943779,-10.746241,11.268567,6.358491,0.234259
18,HDFC,2682.55,-12.097747,5.356352,5.432773,5.806400,1.124445
19,HDFCBANK,1629.70,-6.650000,3.045885,4.892924,7.400066,2.172219
20,HDFCLIFE,494.05,-7.455054,-5.888448,0.155963,-5.395255,-4.645698
21,HEROMOTOCO,2484.20,-8.988991,14.433177,-5.919662,2.284644,0.452292
22,HINDALCO,418.25,-5.070478,-12.662405,-2.089728,12.769806,-1.763201
23,HINDUNILVR,2487.95,-3.446034,16.588103,-1.886792,0.975275,3.057638
24,ICICIBANK,867.55,-8.658942,11.254301,10.164352,-6.407927,1.587946
25,INDUSINDBK,1127.20,9.945946,2.163225,10.731473,-9.569752,3.317723
26,INFY,1515.50,-12.862380,0.423962,1.321302,-1.708015,-3.206283
27,ITC,389.75,15.752523,16.679303,13.547758,2.889843,12.217357
28,JSWSTEEL,680.00,11.688312,-12.428181,6.928064,6.859021,3.261804
29,KOTAKBANK,1748.65,-6.175847,4.609349,3.100294,-8.772573,-1.809694
30,LT,2155.95,-15.804511,7.935941,11.472697,6.382979,2.496776
31,M&M,1282.65,5.527581,33.879189,9.680032,-0.288035,12.199692
32,MARUTI,8632.40,-10.935521,17.871183,4.894522,-7.101749,1.182109
33,NESTLEIND,18500.00,-1.880569,4.960033,6.733115,-7.165370,0.661803
34,NTPC,177.20,11.720963,-0.475436,15.923567,-6.675824,5.123318
35,ONGC,158.00,-7.751028,-12.030554,-2.315485,7.037037,-3.765007
36,POWERGRID,228.25,9.178404,-5.697699,7.067943,-8.006814,0.635458
37,RELIANCE,2415.55,16.707235,-7.619835,-1.451927,-7.571987,0.015871
38,SBILIFE,1137.35,-11.183237,21.102785,-3.166539,-12.074474,-1.330367
39,SBIN,562.95,-7.829516,8.647382,7.996625,-8.506944,0.076887
40,SUNPHARMA,976.95,3.492544,-0.736688,12.742156,-1.742498,3.438878
41,TATACONSUM,718.05,11.532728,-1.379101,-4.607897,-4.539877,0.251463
42,TATAMOTORS,437.30,-14.202180,10.904470,-12.300802,6.021378,-2.394284
43,TATASTEEL,107.15,11.182547,-91.653816,-6.512702,20.602767,-16.595301
44,TCS,3389.35,-6.998686,-6.783565,-1.202007,4.265112,-2.679786
45,TECHM,1088.55,-18.596433,-14.722707,1.612750,-4.021724,-8.932029
46,TITAN,2407.05,-2.054556,-0.435876,15.970702,-14.882033,-0.350441
47,ULTRACEMCO,7207.90,-11.453882,-0.239061,2.854567,3.987730,-1.212661
48,UPL,715.55,5.604326,-8.439251,-5.486842,3.021022,-1.325186
49,WIPRO,396.05,-14.199134,-13.118063,-8.745645,2.329133,-8.433427